@model UserCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" method="post" class="p-4 w-75 mx-auto shadow">@* pading 4,witdh 75 alan,*@
     <div class="mb-3">
        <label>
           Kullanıcı Adı:
        </label>
        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
        <input  type="text" asp-for="@Model.UserName" class="form-control"/>
    </div>
    
    <div class="mb-3">
        <label>
           Şifre:
        </label>
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
        <input  type="password" asp-for="@Model.Password" class="form-control"/>
    </div>

    <div class="mb-3">
        <label>
            Şifre Tekrar:
        </label>
        <span class="text-danger" asp-validation-for="@Model.ConfirePassword"></span>
        <input type="password" asp-for="@Model.ConfirePassword" class="form-control" />
    </div>
    <div class="mb-3">
        <label>
           Email:
        </label>
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
        <input type="text" asp-for="@Model.Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>
           Cinsiyet:
        </label>
        <span class="text-danger" asp-validation-for="@Model.Gender"></span>
        <input type="text" asp-for="@Model.Gender" class="form-control" />
    </div>
     <div class="mb-3">
       <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

    <div class="text-danger mt-2" asp-validation-summary="ModelOnly" >

    </div>
</form>


      
